.top {
    height: 3%;
    background-color: #111;
    margin-bottom: 1%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px
}

body {
    background-color: black;
    margin: 0;
}
.container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button {
    border: none;
}
.sbutton {
    width: 16px;
}
.player {
    padding: 10px;
    background-color: #111;
}

.container > .player {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}

.container > .player > .player {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.fullheight {
    height: 87vh;
}
.player .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player .inner .name {
    position: absolute;
}

.player .inner div {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    background-color: #111;
    align-items: center;
    color: white;
}

.player .inner .main {
    height: 33%;
    align-items: center;
    justify-content: space-evenly;
}

.player .inner .main button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
}

.counter {
    font-size: 20vh;
}

.dead {
    color: red !important;
}

.flip180 {
    rotate: 180deg;
}

.disable {
    display: none !important;
}